<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dong.SignupMapper">

	<!-- 회원 가입 -->
	<insert id="user_signup" parameterType="SignupDTO">
		insert into User( u_date ,u_id ,u_pw ,u_age ,u_addr ,u_gender ,u_email ,u_birthday)
		value( curdate() ,#{u_id} ,#{u_pw} ,#{u_age} ,#{u_addr} ,#{u_gender} ,#{u_email} ,#{u_birthday})
	</insert>

	<!-- 로그인 -->
	<select id="user_login" resultType="String">
		select u_number from user
		where u_id = #{u_id} and u_pw = #{u_pw}
	</select>

	<!-- ID Check -->
	<select id="user_idCheck"  resultType="String">
		select u_id from user where u_id = #{u_id}
	</select>
	<!--  idCheck -->
	<select id="Checkid" resultType="int" parameterType = "String">
	select count(*) from user where u_id = #{u_id}
	</select>
	<!-- 회원 상세정보 -->
	<select id="user_selectDetail" resultType="SignupDTO">
		select * from user
		where u_number = #{u_number}
	</select>

	<!-- 회원 정보 수정 -->
	<update id="user_update">
		update user set u_pw = #{u_pw}, u_email = #{u_email}, u_addr = #{u_addr}
		where n_number = #{u_number}
	</update>


	<!-- 회원 탈퇴 -->
	<delete id="user_delete">
		delete from user where u_number = #{u_number}
	</delete>

	<!-- 프로필 페이지 사용자 정보 조회 / 사용자 고유 번호 당 생성 페이지 -->
	<select id="user_info" resultType="SignupDTO">
		SELECT * FROM user
		WHERE
		u_number=#{u_number}
	</select>

</mapper>